:root {
  --toc-transition-duration: 0.35s;
  --toc-transition-function: cubic-bezier(0.2, 0, 0, 1);
}

.toc {
  display: flex;
  flex-direction: column;

  border: 1px solid transparent;
  border-left-width: 0px;
  border-right-width: 0px;

  margin: 1rem 0;
  padding-top: 1rem;

  transition: border-color var(--toc-transition-duration) var(--toc-transition-function);

  &.desktop-only {
    display: flex;
    max-height: 40%;
  }

  &:not(:has(.collapsed)) {
    border-color: var(--lightgray);
  }
}

button#toc {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;

  & .toc-title {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
    font-weight: 500;
  }

  & .fold {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }
}

#toc-content {
  list-style: none;
  overflow: hidden;
  overflow-y: auto;
  transition: all var(--toc-transition-duration) var(--toc-transition-function);
  position: relative;
  visibility: visible;

  display: grid;

  grid-template-rows: 1fr;

  padding-bottom: 1rem;

  &.collapsed {
    grid-template-rows: 0fr;
    padding-bottom: 0;
  }

  &.collapsed > .overflow::after {
    opacity: 0;
  }

  & ul {
    overflow: hidden;
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    & > li > a {
      color: var(--dark);
      opacity: 0.75;
      transition:
        0.5s ease opacity,
        0.3s ease color;
    }
  }
  > ul.overflow {
    max-height: none;
    width: 100%;
  }

  @for $i from 0 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});
    }
  }
}
