@use 'mixins' as *;

code[data-theme*=" "] {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);

  @include dark {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

code[data-theme*=" "] span {
  color: var(--shiki-light);

  @include dark {
    color: var(--shiki-dark);
  }
}

